.container
  .panel_center
    .main
      .panel_max-width.mx-auto(v-loading.body="ajaxLoading")

        //- 集团列表
        el-card.box-card(v-if="!isEditorOpen")
          div(slot="header" class="clearfix")
            span( style="line-height: 36px;") 集团管理
            el-button( style="float: right;", type="primary", @click="getDetail()") 添 加
          ul
            li.m1.flex.border.justify-between.hand.item(v-for="i in list", data-index="i",  @click="getDetail(i.groupId)")
              img.fl.m2.cycle.border.border-box.bg(style="width:50px;height:50px", :src="i.groupLogo+'!110'", alt=" ", title=" ")
              .ie9-p4.fl.justify-around.self-center.flex1 {{i.groupName|| '集团名称'}}<br>
                span.gray.small( v-if="i.createTime") 创建于{{i.createTime|date}}
                span.gray( v-else)
              .ie9-m2.fr.self-center.p4
                i.el-icon-arrow-right.gray
              .clear
            .text-center.gray.p4(v-if="list && list.length==0 ") 暂无团队

        //- 集团详情    
        el-card.box-card(v-if="isEditorOpen")
          div(slot="header", class="clearfix", fixed)
            span( style="line-height: 36px;") 编辑集团
            el-button.mr2( style="float: right;", @click="switchEditorPanel") 返 回
            el-button.mr2( style="float: right;margin-right: 20px;", type="primary", @click="submit(form.teamId)") 确 定
          el-form( v-loading.body="ajaxLoading", ref="form", :model="form", label-width="120px" )
            br
            el-form-item( label="集团名称" )
              el-input( v-model="form.groupName" )
            el-form-item( label="集团电话" )
              el-input( v-model="form.groupTelephone" )
            el-form-item( label="集团地址" )
              el-input( v-model="form.groupAddress" )
            el-form-item( label="集团地区" )
              el-input( v-model="form.groupArea" )
            //-  el-select( v-model="form.groupArea", placeholder="标准科室", style="margin-left:10px;")
            //-    el-option( v-for='i in GBdept', :label="i", :value="i" )
            el-form-item( label="集团介绍" )
              el-input( v-model="form.groupResume" )
            el-form-item( label="集团图片" )
              el-upload.avatar-uploader( :action="uploadInfo.host", :data="uploadInfo.basePostData", :show-file-list="false", :on-success="upGroupLogoSuccess", :before-upload="beforePicUpload")
                img.avatar(v-if="form_groupLogo && form_groupLogo[0]", :src="form_groupLogo[0].url")
                i.el-icon-plus.avatar-uploader-icon(v-else)
        Copyright     
    Tabs(currentTab="group")
