<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>POLO360</title>
    <!-- 引入样式重置的样式表 -->
    <link rel="stylesheet" type="text/css" href="css-min/reset.css"/>
    <!-- 引入一个当前页面自己使用的样式表 -->
    <link rel="stylesheet" type="text/css" href="css-min/page-index.css"/>

    <!-- 处理IE6图片的透明的问题 -->
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix("img,div,a,h2");
    </script>
    <![endif]-->
</head>
<body>

<!--
    命名的规范：
        命名时，要不都用英文，要不都用拼音
        命名方式1：驼峰命名法
            小写字母开头，后边每一个单词首字母大小
            blackLine
        命名方式：单词之间使用-连接
            black-line
-->
<!-- 创建一个头部的容器 -->
<div class="header w">


    <!-- 创建导航条 -->
    <ul class="nav">
        <li>
            <a href="#">HOME</a>
            <p>Back to home</p>
        </li>
        <li>
            <a href="#">PRODUCTS</a>
            <p>What we have for you</p>
        </li>
        <li>
            <a href="#">SERVICES</a>
            <p>Things we do</p>
        </li>
        <li>
            <a href="#">BLOG</a>
            <p>Follow our updates</p>
        </li>
        <li>
            <a href="#">CONTACT</a>
            <p>Ways to reach us</p>
        </li>
    </ul>

    <!-- 设置logo -->
    <h1 class="logo">
        <a href="#">
            <img src="img/logo.png" alt="polo360-logo"/>
        </a>
    </h1>

</div>

<!-- 创建banner的容器 -->
<div class="banner w">
    <!-- 引入一个图片 -->
    <img src="img/banner/banner-01.png" alt="polo360-banner"/>

    <!-- 设置导航点 -->
    <div class="navPointer">
        <a href="#"></a>
        <a class="active" href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </div>
</div>
